# _site

.bridgetown-cache
.bridgetown-metadata
.bridgetown-webpack

.byebug_history
.DS_Store
.env
.idea
.jekyll-metadata

.node_repl_history
.npm
.pnp.js
.pnp/

.sass-cache
.sass-cache

.yarn-integrity
.yarnclean

/.bundle

assets
bower_components
node_modules
node_modules

optimization-fix-this-file-is-ignored.js

output/
tmp/
vendor/
yarn-debug.log*
yarn-error.log
